* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    position: relative;
}

.main-content {
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.add-new-movie {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 50%;
}

.add-new-movie svg{
    color: red !important;
}


@media only screen and (max-width:900px) {
    .add-new-movie {
        font-size: var(--primary-font-heading-large);
    }
}

@media only screen and (max-width:425px) {
    .add-new-movie {
        font-size: var(--primary-font-heading-medium);
    }
}