*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    border: 2px solid blue;
    position: relative;
}
.main-content{
    display: flex;
    /* grid-template-columns: repeat(5,1fr); */
    border: 1px solid green;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.add-new-movie{
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-theme-color-black);
}

